
.nav {
background: #66A548;
}

.iconoCasa svg{
    width: 35;
    height: 35;
}

.iconoMail svg{
    width: 35;
    height: 35;
}

.iconoUser svg{
    width: 35;
    height: 35;
}

.iconoConfi svg{
    width: 35;
    height: 35;
}
.nav-item:hover{
    background-color: rgb(0, 21, 99);
}
