

.iconoCasa svg{
    width: 35px;
    height: 35px;
}

.iconoMail svg{
    width: 35px;
    height: 35px;
}

.iconoUser svg{
    width: 35px;
    height: 35px;
}

.iconoConfi svg{
    width: 35px;
    height: 35px;
}
.nav-item:hover{
    background-color: #398378;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
}
