

.iconoCasa svg{
    width: 20px;
    height: 20px;
}

.iconoMail svg{
    width: 20px;
    height: 20px;
}

.iconoUser svg{
    width: 20px;
    height: 20px;
}

.iconoConfi svg{
    width: 20px;
    height: 20px;
}
.nav-item:hover{
    background-color: rgb(0, 21, 99);
}
