<link rel="stylesheet" href="chat.component.css"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<section class="body-chat">
  <div class="seccion-titulo">
    
      <h3>
          <i class="fas fa-comments"></i>
          Sistema de mensajería howTo
      </h3>
  </div>
  <div class="seccion-usuarios">
      <div class="seccion-buscar">
          <div class="input-buscar">
              <input #name type="search" placeholder="Buscar usuario">
              <button class="btn btn-success" (click)="buscarUser(name.value)"><i class="fas fa-search"></i></button>
          </div>
      </div>
      <div  *ngFor="let data of usuario" class="seccion-lista-usuarios">
        <a *ngIf="data.idUsuario != usuarioActual" (click)="obtenerChat(data.idUsuario,data.nombreUsuario,data.Imagen)">
          <div  class="usuario">
              <div class="avatar">

                  <img *ngIf="data.Imagen != ''" src={{data.Imagen}} alt="img">
                  <img *ngIf="data.Imagen == ''" src="./assets/user.png" alt="img">
                  <span class="estado-usuario enlinea"></span>
              </div>
              <div class="cuerpo">
                  <span> {{data.nombreUsuario}}</span>
                  <span>{{data.Nombre}}</span>
              </div>
              <span class="notificacion">
                  
              </span>
          </div>
        </a>
      </div>
  </div>
  <div class="seccion-chat">
      <div class="usuario-seleccionado">
          <div class="avatar">
              <img *ngIf="imagenUser !=''" src={{imagenUser}} alt="img" >
              <img *ngIf="imagenUser ==''" src= "./assets/user.png" alt="img" >
          </div>
          <div class="cuerpo" >
              <span>{{nameUser}}</span>
              <span>Activo</span>
          </div>
          <!--<div class="opciones">
              <ul>
                  <li>
                      <button type="button"><i class="fas fa-video"></i></button>
                  </li>
                  <li>
                      <button type="button"><i class="fas fa-phone-alt"></i></button>
                  </li>
              </ul>
          </div>-->
      </div>
      <div class="panel-chat" >
          <div  id="list" *ngFor="let datos of chat">
            <div *ngIf="datos.idOrigen != user">
            <div class="mensaje">
              <div class="avatar">
                  <img src="./assets/user.png" alt="img">
              </div>
              <div class="cuerpo" >
                  <!-- <img src="http://localhost/multimedia/png/user-foto-3.png" alt=""> -->
                  <div class="texto">
                      {{datos.mensaje}}
                      <p style="font-size: 10px; color: rgb(139, 147, 147);">{{datos.fechaHora}}</p>

                  </div>
                  <span class="tiempo">

                  </span>


                </div>
              </div>
            </div>
          
          <div id="list">
            <div *ngIf="datos.idOrigen == user">
              <div class="mensaje left">
                <div class="cuerpo">
                    <!-- <img src="http://localhost/multimedia/png/user-foto-3.png" alt=""> -->
                    <div class="texto">
                      {{datos.mensaje}}
                      <p style="font-size: 10px; color: rgb(139, 147, 147);">{{datos.fechaHora}}</p>
                        <span class="tiempo">

                        </span>
                    </div>
 
                </div>
                <div class="avatar">
                    <img src="./assets/user_p.png" alt="img">
                </div>
            </div>
          </div>
        </div>
          </div>
      </div>
      <div class="panel-escritura">
          <form id="formMsj" class="textarea" [formGroup]="frmMsj">
              <div class="opcines">
              </div>
              <textarea id="textArea" formControlName="msjChat"></textarea>
              <button type="button"  class="enviar" (click)="ingresarChat()">
                  <i class="fas fa-paper-plane"></i>
              </button>
          </form>
      </div>
  </div>
</section>
<!--====  End of html  ====-->




<!--====  End of tarjeta  ====-->
</body>