<link rel="stylesheet" href="login.component.css"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <form class="formulario_login">
        <h1>Iniciar sesión</h1>
        <div class="contenedor">
            <div class="imput-contenedor">
                <input type="text" placeholder="Correo eletrónico">
            </div>
        </div>

        <div class="contenedor">
            <div class="imput">
                <input type="password" placeholder="Contraseña">
                <p><a class="link" href="">¿Olvidaste la contraseña?</a></p> <!--poner link para que cambie contraseña-->
            </div>
            
                <input type="submit" value="Iniciar sesión" class="button1">
                <input type="submit" value="Registrarse" class="button2">
          

            
           
        </div>
    </form>
</body>