<link rel="stylesheet" href="editarperfil.component.css"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
<form class="formulario_editar">
    <h1>Editar perfil de usuario</h1>
    <div class="contenedor">
        <div class="profilepic">
            <img src=".\assets\usuario.PNG" class="img_usuario">
            <p>Editar foto de perfil</p>
        </div>
        <div class="input">
            <p><b>Información personal</b></p>
            <div class="imput-txt">
                <p>Nombre:</p><input type="text">
            </div>
    
            <div class="imput-txt">
                <p>Usuario: </p><input type="text">
            </div>
    
            <div class="imput-txt">
                <p>Presentación:</p><input type="text">
            </div>
    
            <div class="imput-contenedor">
                <p>Cambiar correo:</p><input type="text">
            </div>
    </div>

 
    </div>
</form>
</body>
