<link rel="stylesheet" href="posts.component.css"> 

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    

  
  <main>
    <div class="mb-3" style="margin: 2%;">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         Categoria
        </button>
        
        <ul class="dropdown-menu">
          <li *ngFor="let item of categoria;" [value]="item.idCategoria"><a (click)="selecCat(item.nombreCategoria,item.idCategoria)" class="dropdown-item"><img src={{item.Icono}} alt="">{{item.nombreCategoria}}</a></li>
          <li><a (click)="selecCat(0,0)" class="dropdown-item">Ninguna</a></li>

        </ul>
        <label for="" style="margin-left: 10px; font-size: 20px;">  Categoria: </label>
        <label for="" style="margin-left: 10px; font-size: 20px;" >  {{ncat}}  </label>
      </div>
    
  </div>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Bienvenido a HowTo</h1>
          <p class="lead text-muted">Comparte tus conocimientos e ideas con nosotros</p>
          <p>
            <button  [routerLink]="['/crearPost']" data-bs-target="#exampleModal" class="btn btn-success">Nuevo post</button>
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div *ngFor="let data of post; let i = index"  class="col">
            
            <div class="card shadow-sm" >
              <img src={{data.imagen}} alt="" width="100%" height="200px">
              <div class="card-body" style="max-height: 400px;" >
                <h1>{{data.Titulo}}</h1>
                <p  id="view" [style.maxHeight.px]="tam" class="card-text">{{data.textoPost}}</p>
                <a (click)="leerMas()" style="cursor: pointer;">{{masMenos}}</a>
                <div class="d-flex justify-content-between align-items-center" >
                  <div class="btn-group">
                    <button type="button"  (click)="grabarLocalStorage(data.idPosts)" class="btn btn-sm btn-outline-secondary">View</button>
                    
                    <button type="button" [ngStyle]="{'background-color':getColorCard(i,data.idPosts)}" (click)="positive(data.idPosts)" [disabled]="isClicked" class="btn btn-sm btn-outline-secondary like" id="{{data.idPosts}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                      <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                    </svg>{{data.likes}}</button>
                    
                    <button type="button" (click)="negative(data.idPosts)" class="btn btn-sm btn-outline-secondary dislike"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                      <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                    </svg>{{data.dislikes}}</button>

                    <button id="liveToastBtn" type="button" class="btn btn-sm btn-outline-secondary favorito"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg></button>

                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                          <img src="..." class="rounded me-2" alt="...">
                          <strong class="me-auto">Bootstrap</strong>
                          <small>11 mins ago</small>
                          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                          Hello, world! This is a toast message.
                        </div>
                      </div>
                    </div>

                    <button *ngIf=" data.idUsuario == idUser" (click)="grabarLocalStorage2(data.idPosts)" type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg></button>
                  </div>
                  
                  <small class="text-muted">9 mins</small>

                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  
  </main>
  
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>
  
  
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  
    </body>
 



