<link rel="stylesheet" href="registro.component.css"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <form class="formulario_registro">
        <h1>Registrarse</h1>
        <div class="contenedor">
            <div class="imput-contenedor">
                <input type="text" placeholder="Correo eletrónico">
            </div>
        </div>

        <div class="contenedor">
            <div class="imput">
                <input type="text" placeholder="Nombre de usuario">
            </div>
        </div>

        <div class="contenedor">
            <div class="imput">
                <input type="password" placeholder="Contraseña">
            </div>
            <input type="submit" value="Continuar" class="button">
            <p>¿Ya eres usuario?<a class="link" routerLink="/login">Iniciar sesión</a></p> <!--poner link para que regrese al login-->
        </div>
    </form>
</body>